/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 * {
  font-family: arial, sans-serif;
  font-size: 16px;
  color: #4B5556;
  text-align: center
 }

 body {
  background-color: #fff1e0;
  display: block;
  padding: 10px;
 }

 h1 {
   font-size: 2.5em;
   padding: 10px;
   margin: 20px auto;
   width: 80%;
   display: block;
   text-align: center;
   color: #d16644
 }

 form {
   align-items: center;
   text-align: center;
   margin: 25px auto;
   padding: 15px;
   width: 60%;
   border: 3px solid #878f84;
   border-radius: 10px;
 }

 input[type = submit] {
   align-items: center;
   text-align: center;
   margin: 25px auto;
   padding: 10px;
   width: 50%;
   border: 2px solid #cf9683;
   border-radius: 10px;
   background-color: #e5a88b
 }

 input[type = submit]:hover {
   text-decoration: underline;
   color: #878f84
 }

 input, select {
   padding: 4px;
   margin: 6px
 }
